body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  .channel-list {
    width: 30%;
  }
  .message-list {
    width: 70%;
  }
}
.list-group-item {
  background-color: transparent;
}
.selectable {
  cursor: pointer;
}
